body {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #4491a8;
}

.page-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.page-header {
  display: flex;
  background-color: #147594;

  color: #fff;
  height: 35px;
  padding: 5px 60px;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  border-bottom: 4px solid #0f576d;
}

.left-header-div {
  display: flex;
  flex: 0 1 50%;
  justify-content: flex-start;
}

.right-header-div {
  display: flex;
  flex: 0 1 50%;
  justify-content: flex-end;
}

.website-name {
  font-size: 20px;
}

.menu {
  font-size: 16px;
}

.menu-button {
  display: inline-block;
  padding: 10px;
}

.menu-button:hover {
  background-color: #0f576e;
  cursor: pointer;
}

.these-are-cards-outer-div {
  background-color: #1a9dc5;

  color: #fff;

  padding: 20px 60px;
}

.these-are-cards-inner-div {
  background-color: #137392;

  padding: 20px;

  border-radius: 10px;
}

.these-are-cards-inner-div a {
  color: #fff;
}

.want-to-see-div {
  text-align: right;
}

.want-to-see-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  background-color: #fff;
  color: #4491a8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);

  vertical-align: top;

  height: 380px;
  width: 250px;

  padding: 1px 1px 10px 1px;
  margin: 5px;
  border-radius: 10px;
}

.outer-cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  height: 175px;
  width: 100%;

  /* fixes issue with space evenly having img not starting at top of card */
  margin-top: -12px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 0 15px 10px 15px;
  text-align: center;
  height: 170px;
}

.random-things {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  width: 26%;
  border-top: 1px solid #4491a8;
}

.thing-left-div {
  display: inline-block;
  width: 35%;
}

.thing-right-div {
  vertical-align: top;

  display: inline-block;
  width: 60%;
}

.thing-img {
  height: 80px;
  width: 60px;
}

.constrained-content {
  padding: 120px;
  margin-bottom: 44px;
  border-bottom: 4px solid lightgray;
}

.page-footer {
  display: flex;
  background-color: #147594;
  border-top: 4px solid #0f576d;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  max-height: 40px;

  align-items: center;
  justify-content: center;
}

.copyright-text {
  color: white;
  font-size: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0f576e;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.menu-button-outer-div {
  display: inline-block;
}

.sub-menu-button {
  padding: 10px;
}

.sub-menu-button:hover {
  background-color: #0c4253;
  cursor: pointer;
  padding: 10px;
  text-decoration: underline;
}

.downward-arrow {
  display: inline-block;
  transform: rotate(-90deg);
}

.dropdown-button-selected {
  background-color: #0f576e;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.homepage-title-div {
  position: relative;
  border-bottom: 4px solid lightgray;
  padding: 0 60px;

  height: 140px;
}

.welcome-to-page {
  position: absolute;
  top: 5px;

  font-size: 60px;
  color: #de4205;

  text-shadow: 4px 3px 0px #fff, 5px 4px 0px rgba(0, 0, 0, 0.15);

  font-family: "Passion One";
  z-index: 3;
}

.this-is-our-assessment {
  position: absolute;
  bottom: 5px;

  font-weight: 700;
  font-size: 30px;
}

.mountain-img {
  position: absolute;
  right: 60px;

  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;

  border: 2px solid white;
  border-top: none;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);

  height: 160px;
  width: 170px;

  z-index: 2;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .page-header {
    height: 80px;
  }

  .left-header-div,
  .right-header-div {
    flex: 1 0 100%;
    justify-content: center;
  }

  .website-name {
    font-size: 32px;
  }

  .menu {
    font-size: 20px;
  }

  .these-are-cards-outer-div {
    padding: 20px 10px;
  }

  .want-to-see-card {
    width: 100%;
  }

  .card-img {
    height: 200px;
    width: 100%;

    margin-top: 0;
  }

  .page-footer {
    height: 40px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .random-things {
    width: 100%;
    margin: 0;
  }

  .constrained-content {
    padding: 15px;
  }

  .thing-img {
    height: 100px;
    width: 90px;
  }

  .welcome-to-page {
    font-size: 80px;

    position: absolute;
    text-align: center;
    width: 100%;
    right: 0;
  }

  .homepage-title-div {
    height: 440px;
  }

  .this-is-our-assessment {
    font-size: 40px;

    position: absolute;
    bottom: 25px;
    text-align: center;
    right: 0;
    left: 0;
  }

  .mountain-img {
    width: 100%;
    right: 0;
    height: 300px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
  }
}
